/* App.css */

body {

    font-family: sans-serif;

    min-height: 100vh;
    background-color: rgb(27, 27, 27);
    
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ########### */
/* NAV */
/* ########### */
.nav {
    display: flex;
    justify-content: space-between;


    width: 35vw;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    transition: all 0.3s ease;
}

.nav:has(input:focus) {

    width: 50vw;
}

.nav button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav svg {
    width: 1.4rem;
    height: 1.4rem;
    color: white;
}

.nav input {

    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    width: 150px;
}

.nav input:focus {

    border-radius: 0.5rem;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav button {
    outline: none;
    border: none;
    color: rgb(122, 122, 122);
    width: 3rem;
    padding: 0.5rem;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 0.5rem;
}

.nav button:hover {
    /* background-color: rgb(220, 228, 235); */

}
/* ########### */
/* ########### */


/* ########### */
/* Weather */
/* ########### */
.weather {

    display: flex;
    flex-direction: column;
    gap: 5rem;

}

.weather-card {
    width: 8rem;
    height: 16rem;
    
    background: #f8f9fa;

    padding: 0.25rem 0.5rem;

}

.current .weather-card{
    width: 12rem;
    height: 24rem;
    gap: 1rem;
    
}

.current .weather-card .card-info p{
    font-size: 9.5rem; 
}


.forecast{
    display: flex;
    gap: 1rem;
}


.card-title{
    color: #DF2D2D;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.card-title h2{
    margin: 0;
}

.card-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-info p{
    font-size: 5.5rem; 
    color: #DF2D2D;

    margin: 0;
}

.card-info span{
    font-size: 1rem;
    color: #DF2D2D;

    margin: 0;
}
/* ########### */
/* ########### */

/* ########### */
/* Loading */
/* ########### */

/* ########### */
/* ########### */

/* ########### */
/* Error */
/* ########### */

/* ########### */
/* ########### */